<div *ngIf="newBooks.length >=  0">
    <div (click)="display(book)" *ngFor="let book of newBooks">
        <ul class="list-group">
            <li class="list-group-item active">{{ book.title.slice(0, 30) + (book.title.length > 30 ? '...' : '')}}</li>
        </ul>
    </div>
</div>



<form #f="ngForm" name="form" (submit)="f.form.valid && addBook(f)" class="ui form">
    <div class="ui grid">
        <div class="eight wide column">
            <button class="ui teal basic button"type="button" (click)="clear(f) ">Add New Book</button>
        </div>

        <div class="color" *ngIf="showForm" class="eight wide column">
            <label for="title">Title</label><br>
            <input class="form-control" name="title" id="title" type="text" [ngModel]="bookInfo?.title" #title="ngModel"
                placeholder="Book Title"><br>
            <label for="description">Description</label>
            <textarea name="description" id="description" [ngModel]="bookInfo?.description" required placeholder="Book Description"></textarea><br>
                
            <button class="ui teal basic button" *ngIf="!bookInfo" type="submit">Add Book to List</button>
            <span *ngIf="bookInfo">
                <button class="ui teal basic button" type="button" (click)="updateBook(f)">Update</button>
                <button class="ui teal basic button" type="button" (click)="deleteBook()">Delete</button>
            </span>


        </div>

    </div>
</form>